page-login {
    .getstart {

        background: color($colors, energy);
        background-repeat: no-repeat;
        background-size:cover;
    }
    .marginTop{
        margin-top:150px;
        vertical-align: middle;
    }
    
}

