page-dslr {
    .getstart {

        background-image: url('../assets/imgs/bg.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }
    ion-card-content {
        white-space: pre-line !important;
      }
}
