page-history {
    // .ion-card{
    //     display: flex;
    //     flex-direction: column;
    //     width: 100% !important;
    //     margin: 0 !important;
    //   }
      .getstart {

        background-image: url('../assets/imgs/bg.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }
    ion-card-content {
        white-space: pre-line !important;
      }
}
