page-rentform {
    .getstart {

        background-color: #ffbb00 ;
        background-repeat: no-repeat;
        background-size:cover;
        color:light;
    }
    ion-card-content {
        white-space: pre-line !important;
      }
}
